<div class="container-fluid">
  <div class="card border-info mb-3">
    <div class="card-header">Bitcoin live data</div>
    <div *ngIf="bitcoin !== undefined" class="card-body text-info">
      <div class="card-text">
        <ul class="list-group">
          <li class="list-group-item">Lock time: {{ bitcoin.lock_time }}</li>
          <li class="list-group-item">Ver: {{ bitcoin.ver }}</li>
          <li class="list-group-item">Size: {{ bitcoin.size }}</li>
          <li class="list-group-item">
            Inputs: {{ bitcoin.size }}
            <div class="list-group" *ngFor="let input of bitcoin.inputs">
              <li href="#" class="list-group-item">sequence: {{ input.sequence }}</li>
              <li href="#" class="list-group-item">Prev out:
                <ul class="list-group">
                  <li class="list-group-item">Spent: {{ input.prev_out.spent }}</li>
                  <li class="list-group-item">Tx index: {{ input.prev_out.tx_index }}</li>
                  <li class="list-group-item">Type: {{ input.prev_out.type }}</li>
                  <li class="list-group-item">Address: {{ input.prev_out.addr }}</li>
                  <li class="list-group-item">Value: {{ input.prev_out.value }}</li>
                  <li class="list-group-item">N: {{ input.prev_out.n }}</li>
                  <li class="list-group-item">Script: {{ input.prev_out.script }}</li>
                </ul>
              </li>
              <li href="#" class="list-group-item">script: {{ input.script }}</li>
            </div>
          </li>

          <li class="list-group-item">Time: {{ bitcoin.time }}</li>
          <li class="list-group-item">Tx index: {{ bitcoin.tx_index }}</li>
          <li class="list-group-item">Vin sz: {{ bitcoin.vin_sz }}</li>
          <li class="list-group-item">Hash: {{ bitcoin.hash }}</li>
          <li class="list-group-item">Vout sz: {{ bitcoin.vout_sz }}</li>
          <li class="list-group-item">Relayed by: {{ bitcoin.relayed_by }}</li>

          <li class="list-group-item">Out:
              <ul class="list-group" *ngFor="let o of bitcoin.out; let i = index">
                  <li class="list-group-item">Index: {{ i }}</li>
                  <li class="list-group-item">Spent: {{ o.spent }}</li>
                  <li class="list-group-item">Tx index: {{ o.tx_index }}</li>
                  <li class="list-group-item">Type: {{ o.type }}</li>
                  <li class="list-group-item">Address: {{ o.addr }}</li>
                  <li class="list-group-item">Value: {{ o.value }}</li>
                  <li class="list-group-item">N: {{ o.n }}</li>
                  <li class="list-group-item">Script: {{ o.script }}</li>
                </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer">
      <input
        type="text"
        class="form-control"
        id="command"
        [(ngModel)]="model.command"
        name="command"
        required
      />
      <button type="button" class="btn btn-outline-primary" (click)="send()">
        Apply
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onclick({ op: 'ping' })"
      >
        Ping
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onclick({ op: 'unconfirmed_sub' })"
      >
        Subscribe to notifications for all new bitcoin transactions
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onclick({ op: 'unconfirmed_unsub' })"
      >
        Unsubscribe to notifications for all new bitcoin transactions
      </button>
    </div>
  </div>
</div>
